@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';
.header {
  background-color: RGB($navy);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
  .header-navbar {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 54px;
    justify-content: space-between;
    margin: auto;
    max-width: 1716px;
    width: 100%;
    .leftPart {
      align-items: center;
      display: flex;
      flex-grow: 1;
      max-width: 518px;
      .logo  {
        padding-right: 18px;
        text-transform: capitalize;
        font-size: 23px;
      }
      .search-container {
        position: relative;
        width: 100%;
        .search {
          width: inherit;
          .form-content {
            align-items: center;
            display: flex;
            background-color: rgba(255, 255, 255, 0.25);
            transition: background-color 0.25s ease;
            .search-icon {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 34px;
              justify-content: flex-end;
              margin-left: 12px;
              margin-right: 2px;
              i {
                color: rgba(255, 255, 255, 0.65);
                opacity: 1;
                width: 18;
                height: 18;
              }
            }
            .search-input {
              background: transparent;
              border: none;
              color: rgba(255, 255, 255, 0.65);
              font-family: "Favorit", "Helvetica Neue", "HelveticaNeue",
                Helvetica, Arial, sans-serif;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              outline: none;
              padding: 5px;
              width: 100%;
              &::placeholder {
                color: rgba(255, 255, 255, 0.65);
              }
            }
          }
        }
      }
    }
    .rightPart {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      .RighC {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 16px;
        position: relative;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.65);
        i{
           font-size: 22px;
        //    &.active{
        //     color: rgb(255, 255, 255);
        // }
        }
        
      }
    }
  }
}
