.edit__profile {
  margin-top: 8rem;
}
.account-settings {
  .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
    .user-avatar {
      margin: 0 0 1rem 0;
      img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
      }
    }
    .user-name {
      margin: 0 0 0.5rem 0;
    }
    .user-email {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
      color: #9fa8b9;
    }
  }
  .about {
    margin: 2rem 0 0 0;
    text-align: center;
    h5 {
      margin: 0 0 15px 0;
      color: #007ae1;
    }
    p {
      font-size: 0.825rem;
    }
  }
  .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }
}
