.login__form {
  background-color: #f5f5f5;
  border-radius: 5px;
  position: relative;
  margin-top: 150px;
  .user__image {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .forgot__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
.input__style {
  border-radius: 5px;
  border: none;
  &:focus-visible {
    outline: 3px solid #deebf3 !important;
  }
}
.form__wrapper {
  margin-top: 100px;
}
.login__btn {
  width: 100px;
  background-color: #088dcd !important;
}

.error__message {
  border-radius: 15px;
}
.form__decoration::before {
  content: '';
  display: inline-block;
  width: 200px;
  height: 2px;
  background-color: #deebf3;
  margin-right: 10px;
}
.form__decoration::after {
  content: '';
  display: inline-block;
  width: 200px;
  height: 2px;
  background-color: #deebf3;
  margin-left: 10px;
}
.social__links {
  > li {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-3px);
      background-color: #deebf3;
    }

    .social__linksWrapper {
      width: 120px;
      &:hover {
        img {
          transform: scale(1.15);
        }
      }
      .social__linksImage {
        width: 30px !important;
        height: 30px !important;
        img {
          border: 2px solid #deebf3;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
