.cart {
  border-radius: 5px;
  padding-top: 60px;
  .cart-table {
    .table {
      background-color: #fafafa;
      border-radius: 49%;
      thead {
        tr {
          th {
            @media (max-width: 575.98px) {
              font-size: 0.85em;
            }
          }
        }
      }
      tbody {
        tr {
          td:nth-of-type(3) {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (max-width: 575.98px) {
              max-width: 190px;
            }
          }
          td:nth-of-type(6) {
            min-width: 100px;
          }
        }
      }
      td {
        vertical-align: middle;
      }
    }
  }
  .cart-img {
    max-width: 50px;
    max-height: 50px;
    @media (max-width: 575.98px) {
      max-width: 35px;
      max-height: 35px;
    }
  }
  .fa-trash {
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.15);
    }
  }
}
