// screens breakpoint
$medium: 768px;
$large: 992px;
$x-large: 1200px;

// medium
@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}
// large
@mixin large {
  @media (min-width: $large) {
    @content;
  }
}
// x-large
@mixin x-large {
  @media (min-width: $x-large) {
    @content;
  }
}

a.main-btn:hover,
.main-btn:hover {
  transform: translateY(-5px);
  background: #055f8b;
  color: #fff;
}
.user-heading {
  background: #90dbff;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
  position: relative;
  left: -20px;
  top: -15px;
  width: calc(100% + 40px);
  img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    box-shadow: 4px 4px 1px 0px #ffffff;
    @include medium {
      width: 150px;
      height: 150px;
    }
  }
  h1 {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-style: italic;
    font-family: none;
    @include medium {
      font-size: 1.7rem;
    }
    @include large {
      font-size: 1.4rem;
    }
    @include x-large {
      font-size: 1.8rem;
    }
  }
}
