.messages__secondUser {
  .user__photo {
    border: 2px solid #088dcd;
  }
  .user__name {
    color: #3e3f5e;
    font-size: 18px;
    font-weight: 500px;
  }
  .user__status {
    color: #3e3f5e;
  }
}
