.messages__secondUser {
  .user__photo {
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
  .user__name {
    color: #3e3f5e;
    font-size: 18px;
    font-weight: 500px;
  }
  .user__status {
    color: #3e3f5e;
  }
}
