@import '../../../styles/variables/variables.scss';
.formik__radioBtn {
  background-color: white;
  border-radius: 5px;
  overflow-x: hidden;
  .radio__btnWrapper {
    flex-basis: 100%;
    .radio__label__style {
      font-size: 14px;
      background-color: $subColor;
      width: 100%;
      padding: 5px 0 !important;
      border-right: 2px solid white;
      cursor: pointer;
    }
    &:last-of-type {
      .radio__label__style {
        border-right: none;
      }
    }
  }
  .radio__input__style {
    display: none;
  }
  .radio__input__style:checked + .radio__label__style {
    background-color: $mainColor;
  }
}
