@import '../../../../styles/variables/variables.scss';
.messages {
  padding-top: 60px;
  flex-shrink: 0;
  flex-grow: 1;
  .inbox {
    border-left: 1px solid #dbdbdb;
    i {
      color: $mainColor;
    }
  }
  .messages__wrapper {
    background-color: #f7f7f7;
    height: 475px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    .messages__inbox {
      height: 475px;
      display: flex;
      flex-direction: column;
      border-radius: 5px 0px 0px;
      overflow: hidden;
      .messages__inboxHeader {
        margin: 0;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        z-index: 1000;
      }
      .messages__inboxBody {
        flex-grow: 1;
        overflow-y: auto;
        background-color: #fff;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-track {
          background: #dee2e6;
        }
        &::-webkit-scrollbar-thumb {
          background: $subColor;
          border-radius: 0 0 5px 5px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #acc7d8;
        }
        .messages__secondUser {
          position: relative;
          padding: 10px !important;
          border-bottom: 1px solid #f7f7f7;
          height: 70px;
          margin: 0 !important;
          cursor: pointer;
          &:hover {
            background-color: #f2f2f2;
          }
          .messages__inboxBodyImage {
            width: 50px;
            height: 50px;
          }
          &.active {
            background-color: $subColor;
            border-radius: 5px;
          }
        }
      }
    }
    .messages__chat {
      height: 475px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      .messages__chatHeader {
        margin: 0;
        height: 60px;
        flex-shrink: 0;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        .chat__headerEx {
          border: 2px solid black;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
        }
        z-index: 1000;
        .messages__chatHeaderImage {
          img {
            width: 30px !important;
            height: 30px !important;
          }
        }
        .online__status {
          font-size: 14px;
        }
      }
      .messages__chatBody {
        overflow-y: auto;
        background-color: #fbfbfb;
        flex-grow: 1;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-track {
          background: #dee2e6;
        }
        &::-webkit-scrollbar-thumb {
          background: $subColor;
          border-radius: 0 0 5px 5px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #acc7d8;
        }
        .message__content {
          max-width: max-content;
          background-color: $subColor;
          padding: 5px 20px;
          border-radius: 1px solid rgba(202, 239, 142, 0.5);
          border-radius: 10px 10px 0 10px;
          &.message__contentSecondUser {
            border-radius: 10px 10px 10px 0;
          }
        }
        .messages__chatBodyImage {
          img {
            width: 40px !important;
            height: 40px !important;
          }
        }
      }
      .messages__chatFooter {
        height: 55px;
        .messages__SendForm {
          input {
            border: 1px solid lightgray;
            background-color: #001935;
          }
        }
      }
    }
  }
}
