.messages {
  height: calc(100vh - 86px);
  .inbox i{
    color: #088dcd;
  }
  .messages__wrapper {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 6%), 0 2px 5px 0 rgba(0, 0, 0, 20%);
    .messages__inbox {
      height: calc(100vh - 86px);

      border-radius: 5px 0px 0px;
      display: grid;
      grid-template-rows: 55px 1fr;
      overflow: hidden;
      .messages__inboxHeader {
        margin: 0;
        height: 5rem;
        width: 100%;
        background-color: #eee;
        z-index: 1000;
      }
      .messages__inboxBody {
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        .messages__secondUser {
          position: relative;
          padding: 10px !important;
          border-bottom: 1px solid #f7f7f7;
          height: 72px;
          margin: 0 !important;
          cursor: pointer;
          &:hover
          {
            background-color: #f2f2f2;
          }
          .messages__inboxBodyImage {
            width: 50px;
            height: 50px;
          }
          &.active {
            background-color: #deebf3;
            border-radius: 5px;
          }
        }
      }
    }
    .messages__chat {
      height: calc(100vh - 86px);
      display: grid;
      grid-template-rows: 55px 1fr 50px;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      .messages__chatHeader {
        margin: 0;
        height: 5rem;
        width: 100%;
        background-color: #eee;
        z-index: 1000;
        .messages__chatHeaderImage {
          width: 30px;
        }
        .online__status {
          font-size: 14px;
        }
      }
      .messages__chatBody {
        overflow-y: scroll;
        background-color: #fbfbfb;
        .message__content {
          max-width: max-content;
          background-color: #deebf3;
          padding: 5px 20px;
          border-radius: 1px solid rgba(202, 239, 142, 0.5);
          border-radius: 10px 10px 0 10px;
          &.message__contentSecondUser {
            border-radius: 10px 10px 10px 0;
          }
        }
        .messages__chatBodyImage {
          width: 30px;
          height: 30px;
        }
      }
      .messages__chatFooter {
        .messages__SendForm {
          input {
            border: 1px solid lightgray;
            background-color: #001935;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 0 0 5px 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: green;
  }
}

// header {
//   background-color: lightgray;
//   height: 50px;
//   #check {
//     display: none;
//   }
//   #check + label {
//     cursor: pointer;
//     display: none;
//     @media (max-width: 991.98px) {
//       display: block;
//     }
//   }
//   #check:checked ~ ul {
//     left: 0;
//   }
//   ul {
//     @media (max-width: 991.98px) {
//       position: fixed;
//       top: 113px;
//       left: -150px;
//       flex-direction: column;
//       background-color: lightgreen;
//       width: 150px;
//       height: 100%;
//       transition: all 1s ease-in-out;
//     }
//   }
// }
