.not-found {
    margin: 13rem 15px;
    text-align: center;
    color:#fff;
  }
  .not-found .btn-error {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    background-color: #fc7c7c;
    border: none;
  }
  